<div class="container">
<br>
Flight from <%= flight.departure_airport.code %> <br>
Flying to <%= flight.arrival_airport.code%> <br>
Departure: <%= flight.departure_time%> <br>
Arriving: <%= flight.departure_time + flight.flight_duration%>
</div>